<h1>Grid with Buttons</h1>
<app-grid-with-custom-buttons></app-grid-with-custom-buttons>
<h1>Simple Grid</h1>
<app-ag-grid></app-ag-grid>
<h1>Grid with Apply Cancel button in filter</h1>
<app-grid-with-apply-cancel-button></app-grid-with-apply-cancel-button>


<router-outlet></router-outlet>