@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";

.test-container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .test-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    margin-bottom: 0.5rem;
  }
  
  .test-header .example-section {
    margin-bottom: 0.5rem;
  }
  
  #myGrid {
    flex: 1 1 0px;
  }