<div class="example-wrapper">

    <ag-grid-angular
        #agGrid
        style="width: 1000px; height: 500px;"
        id="myGrid"
        class="ag-theme-alpine"
        [pagination]="true"
        [paginationPageSize]="paginationPageSize"
        [columnDefs]="columnDefs"
        [rowData]="rowData"
        (gridReady)="onGridReady($event)"
      ></ag-grid-angular>
  </div>

  <button class="btn btn-outline-primary btn-sm mr-2" (click)="addForm()"><i class="fa fa-plus"></i></button>